---
aap_organizations:
  - name: "build"
    description: "Automated Build Pipeline org"
    state: present

aap_user_accounts:
  - username: "build_agent"
    password: "Password1"
    email: "build_agent@example.com"
    is_superuser: false
    is_system_auditor: false
    organization: "build"
    state: present

aap_applications:
  - name: build_pipeline
    organization: "build"
    description: "Application for access to build pipelines"
    authorization_grant_type: password
    client_type: public

controller_credential_types:
  - name: "gpg-signing-keys"
    description: "Keys for signing Ansible code"
    inputs:
      fields:
        - id: private_key
          type: string
          label: GPG Private Key Data
          secret: true
          multiline: true
        - id: public_key
          type: string
          label: GPG Public Key Data
          multiline: true
        - id: passphrase
          type: string
          label: Passphrase
          secret: true
      required:
        - public_key
        - private_key
    injectors:
      env:
        GPG_PASSPHRASE: !unsafe '{{ passphrase }}'
        GPG_PUBLIC_KEY_FILE: !unsafe '{{ tower.filename.public_key_file }}'
        GPG_PRIVATE_KEY_FILE: !unsafe '{{ tower.filename.private_key_file }}'
      file:
        template.public_key_file: !unsafe '{{ public_key }}'
        template.private_key_file: !unsafe '{{ private_key }}'
  - name: "github-pat-for-build"
    description: "Personal Access Token for GitHub access"
    inputs:
      fields:
        - id: token
          type: string
          label: GitHub Personal Access Token
          secret: true
          multiline: false
      required:
        - token
    injectors:
      env:
        GITHUB_PAT: !unsafe '{{ token }}'

controller_credentials:
  - name: "key-signing-test"
    description: "GPG Key for signing Ansible code for test environment"
    organization: "build"
    credential_type: "gpg-signing-keys"
    inputs:
      public_key: "{{ key_signing_test_public_key}}"
      private_key: "{{ key_signing_test_private_key }}"
      passphrase: "{{ key_signing_test_passphrase }}"
  - name: "key-signing-preprod"
    description: "GPG Key for signing Ansible code for preprod environment"
    organization: "build"
    credential_type: "gpg-signing-keys"
    inputs:
      public_key: "{{ key_signing_preprod_public_key}}"
      private_key: "{{ key_signing_preprod_private_key }}"
      passphrase: "{{ key_signing_preprod_passphrase }}"
  - name: "key-signing-prod"
    description: "GPG Key for signing Ansible code for prod environment"
    organization: "build"
    credential_type: "gpg-signing-keys"
    inputs:
      public_key: "{{ key_signing_prod_public_key}}"
      private_key: "{{ key_signing_prod_private_key }}"
      passphrase: "{{ key_signing_prod_passphrase }}"
  - name: "github-personal-access-token"
    description: "GitHub PAT for Build Pipelines"
    organization: "build"
    credential_type: "github-pat-for-build"
    inputs:
      token: "{{ github_api_token }}"
  - name: "test-signing-validation-credential"
    description: "GPG Public Key for validating signed code in Test environment"
    organization: "build"
    credential_type: "GPG Public Key"
    inputs:
      gpg_public_key: "{{ key_signing_test_public_key}}"
  - name: "preprod-signing-validation-credential"
    description: "GPG Public Key for validating signed code in Preprod environment"
    organization: "build"
    credential_type: "GPG Public Key"
    inputs:
      gpg_public_key: "{{ key_signing_preprod_public_key}}"
  - name: "prod-signing-validation-credential"
    description: "GPG Public Key for validating signed code in Prod environment"
    organization: "build"
    credential_type: "GPG Public Key"
    inputs:
      gpg_public_key: "{{ key_signing_prod_public_key}}"

controller_projects:
  - name: "build_pipelines"
    description: "Automated Build Pipelines"
    organization: "build"
    scm_type: git
    scm_url: "https://github.com/derekwaters/ansible_pipelines.git"
    scm_branch: main
    scm_clean: true
    scm_update_on_launch: true
    update_project: true
    wait: true
    state: present
  - name: "test_project"
    description: "Validate test code signing"
    organization: "build"
    scm_type: git
    scm_url: "https://github.com/derekwaters/sample_tenant.git"
    scm_branch: test
    scm_clean: true
    scm_update_on_launch: true
    signature_validation_credential: "test-signing-validation-credential"
    # This project won't exist yet
    update_project: false
    wait: false
    state: present
  - name: "preprod_project"
    description: "Validate preprod code signing"
    organization: "build"
    scm_type: git
    scm_url: "https://github.com/derekwaters/sample_tenant.git"
    scm_branch: preprod
    scm_clean: true
    scm_update_on_launch: true
    signature_validation_credential: "preprod-signing-validation-credential"
    # This project won't exist yet
    update_project: false
    wait: false
    state: present
  - name: "prod_project"
    description: "Validate prod code signing"
    organization: "build"
    scm_type: git
    scm_url: "https://github.com/derekwaters/sample_tenant.git"
    scm_branch: prod
    scm_clean: true
    scm_update_on_launch: true
    signature_validation_credential: "prod-signing-validation-credential"
    # This project won't exist yet
    update_project: false
    wait: false
    state: present

controller_inventories:
  - name: "build_servers"
    description: "Hosts used for Pipelines"
    organization: "build"
    state: present

controller_hosts:
  - name: "localhost"
    description: "Local Host for Pipelines"
    inventory: "build_servers"
    state: present
    enabled: true
    variables:
      ansible_connection: local

controller_execution_environments:
  - name: "pipelines_ee"
    description: "Execution Environment used for build functions"
    organization: "build"
    image: "quay.io/rh-ee-dwaters/pipelines-ee-multiarch"
    state: present
  - name: "sign_ee"
    description: "Execution Environment used for signing functions"
    organization: "build"
    image: "quay.io/rh-ee-dwaters/sign-ee-multiarch"
    state: present

controller_templates:
  - name: "precommit_checks"
    playbook: "aap_configuration/playbooks/precommit_checks.yaml"
    job_type: "run"
    organization: "build"
    inventory: "build_servers"
    project: "build_pipelines"
    execution_environment: "pipelines_ee"
    ask_variables_on_launch: true
    extra_vars:
      github_api_token: "{{ github_api_token }}"
    state: present

  - name: "test_checks"
    playbook: "aap_configuration/playbooks/test_checks.yaml"
    job_type: "run"
    organization: "build"
    inventory: "build_servers"
    project: "build_pipelines"
    execution_environment: "pipelines_ee"
    ask_variables_on_launch: true
    extra_vars:
      github_api_token: "{{ github_api_token }}"
    state: present

  - name: "deploy_to_dev"
    playbook: "aap_configuration/playbooks/deploy_to_dev.yaml"
    job_type: "run"
    organization: "build"
    inventory: "build_servers"
    project: "build_pipelines"
    execution_environment: "pipelines_ee"
    ask_variables_on_launch: true
    extra_vars:
      github_api_token: "{{ github_api_token }}"
    state: present

  - name: "deploy_to_preprod"
    playbook: "aap_configuration/playbooks/deploy_to_preprod.yaml"
    job_type: "run"
    organization: "build"
    inventory: "build_servers"
    project: "build_pipelines"
    execution_environment: "pipelines_ee"
    ask_variables_on_launch: true
    extra_vars:
      github_api_token: "{{ github_api_token }}"
    state: present

  - name: "deploy_to_prod"
    playbook: "aap_configuration/playbooks/deploy_to_prod.yaml"
    job_type: "run"
    organization: "build"
    inventory: "build_servers"
    project: "build_pipelines"
    execution_environment: "pipelines_ee"
    ask_variables_on_launch: true
    extra_vars:
      github_api_token: "{{ github_api_token }}"
    state: present

  - name: "build_failed_incident"
    playbook: "aap_configuration/playbooks/build_failed_incident.yaml"
    job_type: "run"
    organization: "build"
    inventory: "build_servers"
    project: "build_pipelines"
    execution_environment: "pipelines_ee"
    ask_variables_on_launch: true
    state: present

  - name: "build_success_notification"
    playbook: "aap_configuration/playbooks/build_success_notification.yaml"
    job_type: "run"
    organization: "build"
    inventory: "build_servers"
    project: "build_pipelines"
    execution_environment: "pipelines_ee"
    ask_variables_on_launch: true
    state: present

  - name: "sign_code"
    playbook: "aap_configuration/playbooks/sign_code.yaml"
    job_type: "run"
    organization: "build"
    inventory: "build_servers"
    project: "build_pipelines"
    execution_environment: "sign_ee"
    ask_variables_on_launch: true
    ask_credential_on_launch: true
    state: present

  - name: "verify_signed_code"
    playbook: "aap_configuration/playbooks/verify_signed_code.yaml"
    job_type: "run"
    organization: "build"
    inventory: "build_servers"
    project: "build_pipelines"
    execution_environment: "sign_ee"
    ask_variables_on_launch: true
    ask_credential_on_launch: true
    state: present

controller_workflows:
  - name: "01-test_tenant_code_push_pipeline"
    description: "Perform tests on tenant code pushes"
    organization: "build"
    inventory: "build_servers"
    state: present
    extra_vars:
      remote_repo: "tbd"
      remote_branch: "dev"
      destination_email: "pipelines@company.com.au"
      source_email: "aap_build_bot@company.com.au"
    ask_variables_on_launch: true
    simplified_workflow_nodes:
      - identifier: precommit_checks
        unified_job_template: "precommit_checks"
        success_nodes:
          - "test_checks"
        failure_nodes:
          - "build_failed_incident"
        always_nodes: []
        credentials: []

      - identifier: test_checks
        unified_job_template: "test_checks"
        success_nodes:
          - "sign_code"
        failure_nodes:
          - "build_failed_incident"
        always_nodes: []
        credentials: []

      - identifier: sign_code
        unified_job_template: "sign_code"
        success_nodes:
          - "deploy_to_dev"
        failure_nodes:
          - "build_failed_incident"
        always_nodes: []
        credentials:
          - "key-signing-test"
          - "github-personal-access-token"

      - identifier: deploy_to_dev
        unified_job_template: "deploy_to_dev"
        success_nodes:
          - "build_success_notification"
        failure_nodes:
          - "build_failed_incident"
        always_nodes: []
        credentials: []

      - identifier: build_failed_incident
        unified_job_template: "build_failed_incident"
        success_nodes: []
        failure_nodes: []
        always_nodes: []
        credentials: []

      - identifier: build_success_notification
        unified_job_template: "build_success_notification"
        success_nodes: []
        failure_nodes: []
        always_nodes: []
        credentials: []

  - name: "02-preprod_tenant_code_push_pipeline"
    description: "Perform preprod tests on tenant code pushes"
    organization: "build"
    inventory: "build_servers"
    state: present
    extra_vars:
      remote_repo: "tbd"
      remote_branch: "preprod"
      destination_email: "pipelines@company.com.au"
      source_email: "aap_build_bot@company.com.au"
    ask_variables_on_launch: true
    simplified_workflow_nodes:
      - identifier: verify_signed_code
        unified_job_template: "verify_signed_code"
        success_nodes:
          - "precommit_checks"
        failure_nodes:
          - "build_failed_incident"
        always_nodes: []
        credentials:
          - "key-signing-test"
          - "github-personal-access-token"

      - identifier: precommit_checks
        unified_job_template: "precommit_checks"
        success_nodes:
          - "test_checks"
        failure_nodes:
          - "build_failed_incident"
        always_nodes: []
        credentials: []

      - identifier: test_checks
        unified_job_template: "test_checks"
        success_nodes:
          - "sign_code"
        failure_nodes:
          - "build_failed_incident"
        always_nodes: []
        credentials: []

      - identifier: sign_code
        unified_job_template: "sign_code"
        success_nodes:
          - "deploy_to_preprod"
        failure_nodes:
          - "build_failed_incident"
        always_nodes: []
        credentials:
          - "key-signing-preprod"
          - "github-personal-access-token"

      - identifier: deploy_to_preprod
        unified_job_template: "deploy_to_preprod"
        success_nodes:
          - "build_success_notification"
        failure_nodes:
          - "build_failed_incident"
        always_nodes: []
        credentials: []

      - identifier: build_failed_incident
        unified_job_template: "build_failed_incident"
        success_nodes: []
        failure_nodes: []
        always_nodes: []
        credentials: []

      - identifier: build_success_notification
        unified_job_template: "build_success_notification"
        success_nodes: []
        failure_nodes: []
        always_nodes: []
        credentials: []

  - name: "03-prod_tenant_code_push_pipeline"
    description: "Perform prod tests on tenant code pushes"
    organization: "build"
    inventory: "build_servers"
    state: present
    extra_vars:
      remote_repo: "tbd"
      remote_branch: "prod"
      destination_email: "pipelines@company.com.au"
      source_email: "aap_build_bot@company.com.au"
    ask_variables_on_launch: true
    simplified_workflow_nodes:
      - identifier: verify_signed_code
        unified_job_template: "verify_signed_code"
        success_nodes:
          - "precommit_checks"
        failure_nodes:
          - "build_failed_incident"
        always_nodes: []
        credentials:
          - "key-signing-preprod"
          - "github-personal-access-token"

      - identifier: precommit_checks
        unified_job_template: "precommit_checks"
        success_nodes:
          - "test_checks"
        failure_nodes:
          - "build_failed_incident"
        always_nodes: []
        credentials: []

      - identifier: test_checks
        unified_job_template: "test_checks"
        success_nodes:
          - "sign_code"
        failure_nodes:
          - "build_failed_incident"
        always_nodes: []
        credentials: []

      - identifier: sign_code
        unified_job_template: "sign_code"
        success_nodes:
          - "deploy_to_prod"
        failure_nodes:
          - "build_failed_incident"
        always_nodes: []
        credentials:
          - "key-signing-prod"
          - "github-personal-access-token"

      - identifier: deploy_to_prod
        unified_job_template: "deploy_to_prod"
        success_nodes:
          - "build_success_notification"
        failure_nodes:
          - "build_failed_incident"
        always_nodes: []
        credentials: []

      - identifier: build_failed_incident
        unified_job_template: "build_failed_incident"
        success_nodes: []
        failure_nodes: []
        always_nodes: []
        credentials: []

      - identifier: build_success_notification
        unified_job_template: "build_success_notification"
        success_nodes: []
        failure_nodes: []
        always_nodes: []
        credentials: []

  - name: "test_tenant_code"
    description: "Perform tests on tenant code pushes"
    organization: "build"
    inventory: "build_servers"
    state: present
    extra_vars:
      remote_repo: "tbd"
      remote_branch: "dev"
      destination_email: "pipelines@company.com.au"
      source_email: "aap_build_bot@company.com.au"
    ask_variables_on_launch: true
    simplified_workflow_nodes:
      - identifier: precommit_checks
        unified_job_template: "precommit_checks"
        success_nodes:
          - "test_checks"
        failure_nodes:
          - "build_failed_incident"
        always_nodes: []
        credentials: []

      - identifier: test_checks
        unified_job_template: "test_checks"
        success_nodes:
          - "build_success_notification"
        failure_nodes:
          - "build_failed_incident"
        always_nodes: []
        credentials: []

      - identifier: build_failed_incident
        unified_job_template: "build_failed_incident"
        success_nodes: []
        failure_nodes: []
        always_nodes: []
        credentials: []

      - identifier: build_success_notification
        unified_job_template: "build_success_notification"
        success_nodes: []
        failure_nodes: []
        always_nodes: []
        credentials: []

# EDA Configuration Values
eda_projects:
  - name: "eda_pipelines"
    description: "Automated Build Pipelines"
    organization: "build"
    url: "https://github.com/derekwaters/ansible_pipelines.git"
    scm_branch: main
    sync: true
    state: present

#eda_configuration_credentials_secure_logging: false
eda_credentials:
  - name: "aap_job_access"
    description: "AAP Credentials for job execution"
    credential_type: "Red Hat Ansible Automation Platform"
    organization: "build"
    inputs:
      host: "https://{{ aap_hostname }}/api/controller/"
      username: "{{ aap_username }}"
      password: "{{ aap_password }}"
      verify_ssl: "{{ aap_validate_certs | default(true) | bool }}"
  - name: "github_hmac_token"
    description: "GitHub HMAC Token for remote webhook routing"
    credential_type: "GitHub Event Stream"
    organization: "build"
    inputs:
      "auth_type": "hmac"
      "hash_algorithm": "sha256"
      "http_header_key": "X-Hub-Signature-256"
      "secret": "{{ github_hmac_token }}"
      "signature_encoding": "hex"
      "signature_prefix": "sha256="

eda_event_streams:
  - name: "github_webhook_stream"
    credential_name: "github_hmac_token"
    organization: "build"
    forward_events: true
    state: "present"

eda_configuration_rulebook_activations_secure_logging: false
eda_rulebook_activations:
  - name: "github_event_webhook"
    description: "Hook to listen for changes in GitHub"
    project: "eda_pipelines"
    rulebook: "github_pipelines.yaml"
    organization: "build"
    decision_environment: "Hub Default Decision Environment"
    enabled: false
    eda_credentials:
      - "aap_job_access"
    event_streams:
      - source_index: 0
        event_stream: "github_webhook_stream"
    state: present
...
