---
- name: Generate a failure incident
  hosts: all
  gather_facts: false
  vars:
    destination_email: "pipelines@company.com.au"
    source_email: "aap_build_bot@company.com.au"

  tasks:
    - name: Notify the results
      community.general.mail:
        to: "{{ destination_email }}"
        subject: "FAILED BUILD: Log for {{ remote_repo }} for branch {{ remote_branch }}"
        body: "{{ build_log }}"
        from: "{{ source_email }}"
