---
- name: Perform additional test checks
  hosts: all
  gather_facts: false
  vars:
    remote_repo: "something"
    remote_branch: "dev"
    working_dir: "/tmp/working"

  tasks:
    - name: Pull the code repository
      ansible.builtin.git:
        repo: "{{ remote_repo }}"
        dest: "{{ working_dir }}"
        single_branch: true
        version: "{{ remote_branch }}"

    - name: Check whether molecule folder exists
      ansible.builtin.stat:
        path: "{{ working_dir }}/molecule"
      register: __molecule_folder

    - name: Run molecule tests if folder exists
      ansible.builtin.command:
        cmd: "molecule test"
        chdir: "{{ working_dir }}"
      register: __test_output
      when: __molecule_folder.stat.exists

    - name: Set the dummy test result
      ansible.builtin.set_fact:
        __test_output:
          rc: 0

    - name: Update the build_log summary
      ansible.builtin.set_stats:
        data:
          build_log: "{{ __test_output }} ~ {{ build_log | default('') }}"

    - name: Check the response
      ansible.builtin.fail:
        msg: Testing for Ansible code branch failed
      when: __test_output.rc != 0
